<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thrifty Wheels | Vehicle Review Website</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/images/TW.png">

  {{!-- Jquery --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
  {{!-- Google fonts --}}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  {{!-- Moment .js --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
    integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
    crossorigin="anonymous"></script>
    <style>
      .button{
        cursor: pointer !important;
      }
    </style>
</head>

<body style="overflow-x: hidden;">
  <!-- Loading square for squar.red network -->
  <div id="loader-wrapper" class="loader-wrapper">
    <span class="loader" id="loader"><span class="loader-inner"></span></span>
  </div>
  <div class="poppins" id="body">
    {{{body}}}
  </div>
  <script>
    $('#body').hide();
    $(window).on('load', () => {
      $('#loader-wrapper').fadeOut('slow');
      $('#body').fadeIn(2000);
    })
  </script>
</body>

</html>